html,body{
    height: 100%;
    width: 100%;
    font-family: monospace;
}

.button{
    padding: 15px;
    margin: 0 3px;
    border: 2px solid rgb(201, 93, 156);
    border-radius: 11px;
    cursor: pointer;
}

.row{
    margin: 8px 1px;
}

.row input{
    margin: 0;
    padding: 4px 13px ;
    border-radius: 8px;
    border: 2px solid plum;
    font-size: 15px;

}

#butt{
    margin: 4px 7px;
    padding: 13px 41px;
    border: 2px solid rgb(201, 93, 156);
    border-radius: 11px;
    cursor: pointer;

}